{% load staticfiles %}
<!DOCTYPE html>
<html lang="es" {% block html %}{% endblock html %}>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CONABIO Ecoinformática | {% block title %}{% endblock title%}</title>

    <!-- Bootstrap -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/navbar-fixed-top.css" %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block head %}{% endblock head %}
  </head>
  <body {% block body %}{% endblock body%}>
    <div id="wrap">
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">
              Sistema de control de experimentos
            </a>
          </div>
          <div class="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li {% block in_home %}{% endblock %}>
                <a href="{% url 'home' %}">Inicio</a>
              </li>
              <li {% block in_projects %}{% endblock %}>
                <a href="{% url 'sumatra-project-list' %}">Proyectos</a>
              </li>
              {% if user.is_anonymous %}
              <li><a href="{% url "login" %}">Login</a></li>
              {% else %}
              <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{user}}</a></li>
              <li><a href="{% url "logout" %}"><i class="icon-off"></i> Logout</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  <div class="container">
    <h2>{% block header %}{% endblock header %}</h2>
    {% block content %}
    {% endblock content%}
  </div>
  <div id="footer">
    <div class="container">
      <p class="text-muted">Powered by <a href="http://neuralensemble.org/sumatra/">Sumatra</a>. Departamento de Ecoinformática, CONABIO.</p>
    </div>
  </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    {% block scripts %}{% endblock scripts %}
  </body>
</html>
