{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Inicio
{% endblock title%}

{% block in_home %}
    class="active"
{% endblock in_home %}

{% block content %}

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
                <h1>CONABIO</h1>
                <h2>Departamento de Ecoinformática</h2>
            </div>
            <div class="col-md-2">
                <img src="{% static "img/logo.png" %}" height=150 />
            </div>
        </div>
    </div>
</div>

{% endblock content%}
