{% extends "base.html" %}

{% block title %}Log in{% endblock %}

{# {% block header %}Please log in{% endblock %} #}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<div class='container'>
    <form class="form-signin" method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" class="form-control" placeholder="Username" required="" autofocus="" id="id_username" name="username">
        {# {{ form.username }} #}
        <input type="password" class="form-control" placeholder="Password" required="" id="id_password" name="password">
        {# {{ form.password }} #}
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="login">Sign in</button>
        <input type="hidden" name="next" value= {% if next %} "{{ next }}"
        {% else %}'/'{% endif %}/>
    </form>
</div>
{% endblock %}
