{% extends "base.html" %}
{% load filters %}
{% load staticfiles %}

{% block title %}{{Scores}}{% endblock %}

{% block in_projects %} class="active"{% endblock %}

{% block header %}
 <!-- <a href="..">{{data.0.record.label}}</a> -->
{% endblock %}

{% block content %}
{% verbatim %}
<div ng-app="scoresApp">
	<div ng-controller="scoresController">
		<p><a href=".."><span class="label label-info">Back</span></a></p>
		<table class="main table table-striped table-condensed table-bordered">
		    <thead>
		    <tr>
		        <th>Variable</th>
		        <th>Index</th>
		        <th>Related variable</th>
		        <th>Value</th>
		    </tr>
		    </thead>
		    <tr class="odd" ng-repeat="s in scoresData.data">
		    	<td>{{s.variable}}</td>
		    	<td>{{s.index}}</td>
		    	<td>{{s.rel_variable}}</td>
		    	<td>{{s.value}}</td>
		    </tr>
		</table>
		<button type="button" class="btn btn-primary btn-xs" ng-click="showPrecisionRecall()">Precision and recall</button>
		<table class="main table table-striped table-condensed table-bordered" ng-show="displayPrecisionRecall">
		    <thead>
		    <tr>
		        <th>Variable</th>
		        <th>Precision</th>
		        <th>Recall</th>
		        <th>Ratio of {{scoresData.total | number:0}}
		    </tr>
		    </thead>
		    <tr class="odd" ng-repeat="v in scoresData.uniqueVariables">
		    	<td>{{v}}</td>
		    	<td>{{scoresData.precision[$index] | number:4}}</td>
		    	<td>{{scoresData.recall[$index] | number:4}}</td>
		    	<td>{{scoresData.classRatio[$index] | number:4}}</td>
		    </tr>
		</table>
		<button type="button" class="btn btn-primary btn-xs" ng-click="showF1Accuracy()">F1 and accuracy</button>
		<table class="main table table-striped table-condensed table-bordered" ng-show="displayF1Accuracy">
		    <thead>
		    <tr>
		        <th>Variable</th>
		        <th>F-score</th>
		        <th>Accuracy</th>
		        <th>Ratio of {{scoresData.total | number:0}}
		    </tr>
		    </thead>
		    <tr class="odd" ng-repeat="v in scoresData.uniqueVariables">
		    	<td>{{v}}</td>
		    	<td>{{scoresData.f1[$index] | number:4}}</td>
		    	<td>{{scoresData.accuracy[$index] | number:4}}</td>
		    	<td>{{scoresData.classRatio[$index] | number:4}}</td>
		    </tr>
		</table>
	</div>
</div>
{% endverbatim %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
    <script type="text/javascript" src={% static "js/score.js" %}></script>
{% endblock %}

